$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 35px;
$info_cell_width: 40px;
$cell_width: 120px;
$row_height: 24px;
$border_color: #c0c0c0;
$blue: blue;
$bg_color_table:#f8f9fa;
$db-header-height: 64px;