@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import '~normalize.css';
@import 'mixins';
@import "variabiles";
@import "formula";
@import "header";
@import "table";
@import "toolbar";



body{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.excel{
  position: relative;
  color: #888;
  height: 100%;
  width: 100%;

}